body {
  background: no-repeat url(/img/background.jpg);
  background-size: cover;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer and Edge */
  user-select: none; /* Standard syntax */
}

body::-webkit-scrollbar {
  display: none;
}
.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: center;
}
.menu a {
  color: black;
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  transition: background-color 0.3s ease;
  padding: 14px 50px;
  margin: 10px;
  text-decoration: none;
  border-radius: 15px;
}
.menu a:hover {
  color: blue;
  background-color: lightgrey;
  animation: drunk 2s infinite;
}
@keyframes drunk {
  0% {
    transform: rotate(-5deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
